.imgHolderA {
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    .imgAbout {
        height: 500px;
        width: 100%;
        background-image: url(../images/pexels-mikebirdy-114820.jpg);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }
}